 /* Configuração padrão para todos os elementos da page*/
/* Configuração padrão para todos os elementos da page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Fundo com cores modulares*/
  body {
    height: 100vh;
    display: flex;
    align-items: center ;
    justify-content: center;
    background: linear-gradient(135deg, #e0e7ff, #0178bd);
  }
  
  /* Centraliza tudo que estiver na div container e coloca a logo no topo */
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: flex-start; /* Alinha os itens no início (topo) */
  }
  
  /* logo da ativa */
  img {
    display: flex;
    /* align-items: center; Centraliza verticalmente */
    width: 90%; /* Define a largura como 50% do contêiner pai */
    height: 160px; /* Mantém a proporção da imagem */
  
  }
/* faz a caixa branca que fica de fundo para os elementos */
.login-box {
    width: 360px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    text-align: center;
}

/* Título dentro da caixa de login */
.login-box h2 {
    margin-bottom: 30px;
    color: #1e3a8a;
    font-weight: 600;
}

/* alinha todos os inputs */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

/* formata os label como a palavra email e senha */
.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #475569;
    font-weight: 500;
}

/* Formata os campos de input */
.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    background-color: #f1f5f9;
    font-size: 16px;
    transition: border 0.3s ease;
}

/* Estiliza o input quando estiver "clicado" */
.input-group input:focus {
    border-color: #1e3a8a;
    outline: none;
}
/* Botão login */
.btn-login {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #1e3a8a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* estiliza o botão quando estiver com o mouse por cima */
.btn-login:hover {
    background-color: #3b82f6;
}

/* Estado desabilitado para o botão de login de senha */
.btn-login:disabled {
    background-color: #c9dcff; /* Cor cinza para indicar estado desativado */
    cursor: not-allowed; /* Cursor para indicar que não é clicável */
}


/* Mesma config para o botão de cadastro */
.btn-Cadas {
        width: 100%;
        padding: 10px;
        background-color: #1e3a8a;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }

/* estilização do bt cadas */
.btn-Cadas:hover {
        background-color: #3b82f6;
}

.actions {
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
}


/* Estilização do botão de recuperar senha */
.btn-Recpass {
    background: none;
    border: none;
    color: #1e3a8a;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
    
}

/* Cor ao passar o mouse sobre o botão de recuperação de senha */
.btn-Recpass:hover {
    color: #3b82f6;
}

/* Estado desabilitado para o botão de recuperação de senha */
.btn-Recpass:disabled {
    color: #cbd5e1; /* Cor cinza para indicar estado desativado */
    cursor: not-allowed; /* Cursor para indicar que não é clicável */
}

/* Ajuste do botão ativo */
button:active {
    opacity: 0.7;
}

.error{
    color: #08068d;
    display: none;
}


@media (max-width: 600px) {
    .login-box {
        width: 90%;
        padding: 20px;
    }
}

.input-group input.error-border {
    border-color: var(--error-color);
}